html {
  display: block;
}

h1 {
  font-family: 'Lato', serif;
  font-weight: bold;
  letter-spacing: -0.5px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', serif;
  letter-spacing: -0.5px;
  font-weight: 600;
}

body {
  background-color: #16151d;
  /* background: radial-gradient(circle, #1a172a, #16151d); */
  /* background: linear-gradient(90deg, #1a172a, #16151d); */
  background-attachment: fixed !important;
  background-size: cover;
  /* color: #fff; */
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

p {
  /* font-family: 'Lato', serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  padding: 5px 20px 5px 20px;
}
